{% extends 'base.html' %}

{% block head %}
<title> HOME </title>
{% endblock %}

{% block body %}

<br>
<h1> Home Page </h1>
<br>

  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome!!</h1>
        <p>Welcome to the Gauri's Blogs.Here we will be talking everything related to computer science.</p>
        <p>Go visit us at our website.<a href="https://www.sprinklesforcravings.com">Sprinklesforcravings.com</a>to check out more cool stuff!</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to posts &raquo;</a>
        </p>
      </div>

    </div>
    <center>
    <div>
    <img src="https://images.unsplash.com/photo-1578985545062-69928b1d9587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8&w=1000&q=80" style="width:300px;height:300px";>
    <br>
      <h2>Sprinkles for cravings</h2>
    </div>
      </center>
  </main>

{% endblock %}